/**
 * GLOBAL
 */
html, body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
}

body {
  overflow: hidden;
  background: #fff;
  transition: background 1s;
}
  body.loaded {
    background: #000;
  }

canvas {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  cursor: url('../images/myhand.png'), auto;
  opacity: 0;
  transition: opacity 1s;
}
  canvas.loaded {
    opacity: 1;
  }

.basketball-cursor {
  cursor: url('../images/basketball.png'), crosshair;
}

::-moz-selection {
  background: #00f;
  color: #fff;
}

::selection {
  background: #00f;
  color: #fff;
}

.info {
  z-index: 2;
  position: fixed;
  top: 10px;
  right: 10px;
  transition: opacity 0.25s, color 1s;
  color: #000;
}
  .info.loaded {
    color: #000;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.25);
  }
  .info.photo-view {
    opacity: 0;
  }

.title {
  display: inline-block;
  font-family: Times New Roman, serif;
  font-size: 100px;
  letter-spacing: 1px;
  transform-origin: 100% 20%;
  transition: font-size 1s, color 0.2s, transform 0.1s;
}
  .title.loaded {
    font-size: 20px;
  }
  .title:hover {
    color: #fff;
    transform: scale(5, 25);
  }

.title::after {
  font-size: 11px;
  content: " — ";
}

.human {
  display: inline-block;
  font-size: 10px;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-decoration: underline;
  transform-origin: 100% 0;
  transition: transform 0.1s;
}
  .human:hover {
    transform: scale(20, 20);
    text-shadow: none;
  }

.series-title {
  z-index: 10;
  position: fixed;
  bottom: 40px; right: 40px;
  max-width: calc(100% - 80px);
  color: #fff;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.25);
  font-family: Times New Roman, serif;
  font-size: 72px;
  letter-spacing: 1px;
  transform-origin: 100% 80%;
  transition: color 0.25s, transform 0.1s;
}
  .series-title.photo-view {
    color: #fff;
    font-size: 35px;
  }
  .series-title:hover {
    transform: scale(1.5, 5);
  }

.mobile-warning {
  position: fixed; top: 0; left: 0; width: 100%;
  padding: 20px;
  background: #fff; color: #000; opacity: 0.75;
  line-height: 1.5;
}

/**
 * HOME VIEW
 */
.home-view-dom-container {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  z-index: 1;
}

.home-view-hud {
  position: fixed;
  left: 20px; bottom: 20px;
  padding: 5px;
  width: calc(100% - 30px);
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  transition: background 0.5s, color 0.5s, opacity 1s;
  opacity: 0;
}
  .home-view-hud.loaded {
    opacity: 1;
  }
  .home-view-hud.active {
    background: #fff;
    color: #000;
  }

.home-view-hud-label {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
  transition: background 0.4s, box-shadow 0.1s;
}
  .home-view-label-collection {
    background: #f00;
  }
  .home-view-label-crazy {
    background: #00f;
  }
  .home-view-label-neat {
    background: #7800ff;
  }
  .home-view-hud-label:hover, .home-view-hud-label:focus {
    box-shadow: 2px 2px 0 2px #ff0;
    font-weight: bold;
  }

.home-view-collection-arrow-container {
  display: none;
}
  .home-view-collection-arrow-container.active {
    display: inline-block;
  }

.home-view-hud-arrow {
  display: inline-block;
  cursor: pointer;
  color: #000;
  background: #fff;
  padding: 5px;
  margin: 5px;
  font-size: 10px;
  line-height: 14px;
  vertical-align: middle;
  transition: background 0.4s, box-shadow 0.1s;
  user-select: none;
  -webkit-user-select: none;
}
  .home-view-hud-arrow:hover, .home-view-hud-arrow:focus {
    font-weight: bold;
    box-shadow: 2px 2px 0 2px #00f;
  }

.home-view-neat-title-container {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
}

.home-view-neat-title {
  position: absolute;
  left: 10px;
  font-size: 12px;
}

/**
 * PHOTO VIEW INTERFACE
 */
.photo-view-interface {
  z-index: 2;
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  opacity: 0;
  transition: opacity 0.25s;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
  .photo-view-interface.active {
    opacity: 1;
  }

.photo-view-parameter-flash {
  display: none;
  position: fixed;
  left: 0; width: 100%; text-align: center;
  top: 0;
  font-size: 72px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #ff0;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  text-transform: uppercase;
  transform: scale(1.4, 3);
  transform-origin: 50% 10%;
}
  .photo-view-parameter-flash.active {
    display: block;
  }

.photo-view-tool-tip {
  position: fixed;
  right: 10px; top: 100px;
  max-width: 270px;
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  color: #ff0;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  line-height: 1.5;
}

.photo-view-close-button {
  position: fixed;
  top: -2px; left: 8px;
  cursor: url('../images/myhand.png'), pointer;
  font-family: Courier, Courier New, monospace;
  font-size: 60px;
  color: #fff;
  text-shadow: 0px 0px 2px #f00, 0px 0px 4px rgba(255,0,0,0.9), 0px 0px 6px rgba(255,0,0,0.8), 0px 0px 10px rgba(255,0,0,0.7), 0px 0px 15px rgba(255,0,0,0.5);
  transition: color 0.25s;
  transform-origin: 0 0;
  transform: scaleX(2);
}
  .photo-view-close-button::after {
    content: "X";
  }
  .photo-view-close-button:hover {
    color: #f00;
  }

.photo-view-control-buttons {
  position: fixed;
  top: 5px; right: 5px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 12px;
}

.photo-view-control-button {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  cursor: url('../images/myhand.png'), pointer;
  background: #fff;
  color: #000;
  font-size: 10px;
  line-height: 14px;
  transition: color 0.25s, box-shadow 0.1s, background-color 0.1s;
}
  .photo-view-control-button:hover {
    font-weight: bold;
    box-shadow: 2px 2px 0 2px #00f;
  }

.photo-view-print-button {
  display: block;
  text-align: center;
  padding: 8px;
  font-size: 12px;
  background-color: #f9f3e5;
}
  .photo-view-print-button:hover {
    background-color: #ede2c8;
  }

/**
 * PRINT MODAL
 */
@-webkit-keyframes SPINNING {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes SPINNING {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes REVERSE-SPINNING {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
@keyframes REVERSE-SPINNING {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

.window-wrapper {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.photo-view-print-modal {
  position: fixed;
  width: 800px; max-height: 98%;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  background: #f9f3e5;
  box-shadow: border 5px solid #000;
  overflow: hidden;
}

.photo-view-print-modal-text-border {
  position: absolute;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 10px;
  color: rgb(60, 60, 60);
  white-space: nowrap;
}
  .photo-view-print-modal-text-border.top {
    top: 0px; left: 0px;
  }
  .photo-view-print-modal-text-border.right {
    bottom: 0px; right: 0px;
    transform: rotate(90deg);
    transform-origin: 100% 0;
  }
  .photo-view-print-modal-text-border.bottom {
    bottom: 0px; left: 0px;
    transform: rotate(180deg);
  }
  .photo-view-print-modal-text-border.left {
    bottom: 0px; left: 0px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }

.photo-view-print-modal-close-button {
  position: fixed;
  top: 4px; left: 4px;
  cursor: url('../images/myhand.png'), pointer;
  font-family: Courier, Courier New, monospace;
  font-size: 40px;
  color: #000;
  transition: text-shadow 0.25s;
  transform-origin: 0 50%;
  transform: scale(1.5, 2);
}
  .photo-view-print-modal-close-button::after {
    content: "X";
  }
  .photo-view-print-modal-close-button:hover {
    text-shadow: 0px 0px 2px #000, 0px 0px 4px rgba(0,0,0,0.9);
  }

.photo-view-print-modal-content {
  overflow: auto;
  max-height: 98vh;
}

.photo-view-print-modal-image-preview {
  display: block;
  margin: 40px auto;
  max-width: 400px; max-height: 400px;
  cursor: pointer;
  border: 3px solid #000;
  background-color: #878787;
  transition: box-shadow 0.2s, transform 0.2s;
}
  .photo-view-print-modal-image-preview:hover {
    box-shadow: 0 10px 20px 10px #aaa;
    transform: scaleX(1.5);
  }
  .image-uploading .photo-view-print-modal-image-preview {
    -webkit-animation: SPINNING 0.8s linear infinite;
    animation: SPINNING 0.8s linear infinite;
    box-shadow: 0 0 20px 10px #f00;
  }

.photo-view-print-modal-text-tip {
  color: #006611;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  max-width: 50%;
  margin: 0 auto 30px auto;
  user-select: auto;
  text-align: justify;
}

.photo-view-print-modal-error {
  max-width: 340px;
  margin: 0 auto 10px auto;
  color: #e71414;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.25s;
}

.photo-view-print-modal-upload-zone {
  cursor: pointer;
  max-width: 50%;
  margin: 0 auto;
  padding: 8px;
  border: 3px solid #555;
  text-align: center;
  transition: opacity 0.1s, background 0.1s;
  user-select: auto;
  color: #555;
  transition: all 0.1s;
  font-style: italic;
  text-shadow: 1px 2px 15px #0f0;
}
  .photo-view-print-modal-upload-zone:hover {
    color: #000;
    border: 3px solid #000;
    box-shadow: 0 6px 0 3px rgb(27, 140, 27);
    text-shadow: 1px 2px 5px #0f0;
  }
  .image-uploading .photo-view-print-modal-upload-zone {
    cursor: crosshair;
    opacity: 0.5;
    background: #ff0;
    -webkit-animation: REVERSE-SPINNING 2s linear infinite;
    animation: REVERSE-SPINNING 2s linear infinite;
  }
  .image-uploaded .photo-view-print-modal-upload-zone {
    cursor: auto;
    text-align: left;
    color: #000;
    border: 3px solid #000;
    font-style: normal;
    text-shadow: none;
  }
  .image-uploaded .photo-view-print-modal-upload-zone:hover {
    box-shadow: 0 6px 0 3px rgba(27, 140, 27, 0.2);
    text-shadow: none;
  }

.photo-view-print-modal-upload-zone a {
  color: inherit;
  text-decoration: underline;
}
  .photo-view-print-modal-upload-zone a:hover, .photo-view-print-modal-upload-zone a:focus {
    text-decoration: line-through;
  }

.print-image-id {
  font-style: italic;
  letter-spacing: 2px;
  margin-left: 5px;
}

.photo-view-print-modal-buy-zone {
  visibility: none;
  margin: 40px auto 55px auto;
  max-width: 600px;
  text-align: center;
}
  .image-uploaded .photo-view-print-modal-buy-zone {
    visibility: visible;
  }

.photo-view-print-modal-buy-button {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 5px 12px;
  padding: 15px;
  cursor: pointer;
  background: #00f;
  color: #fff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  user-select: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
  .photo-view-print-modal-buy-button:hover {
    font-weight: bold;
    box-shadow: 0 6px 0 3px #f00;
  }
  .image-uploaded .photo-view-print-modal-buy-button {
    opacity: 1;
  }

@media (max-width: 800px) {
  .title {
    font-size: 48px;
  }
    .title.loaded {
      font-size: 16px;
    }
    .title::after {
      content: "";
    }

  .human {
    display: block;
    font-size: 9px;
    text-align: right;
    margin-top: 5px;
  }

  .home-view-hud {
    bottom: 0; left: 0;
  }

  .home-view-hud-label {
    font-size: 11px;
  }

  .home-view-collection-arrow-container.active {
    display: block;
  }

  .home-view-hud-arrow {
    font-size: 9px;
    line-height: 1;
    padding: 4px;
    margin-right: 0;
  }

  .series-title {
    bottom: auto; right: auto; top: 5px; left: 5px;
    font-size: 48px;
    max-width: calc(67%);
  }

  .photo-view-close-button {
    left: auto; top: -5px; right: 30px;
    font-size: 44px;
  }

  .photo-view-control-buttons {
    right: 0; top: auto; bottom: 0;
  }

  .photo-view-print-modal {
    width: 90vw; height: 90vh;
  }

  .photo-view-print-modal-close-button {
    top: auto; bottom: 6px;
    font-size: 28px;
  }

  .photo-view-print-modal-text-tip {
    max-width: 70%;
  }

  .photo-view-print-modal-image-preview.horizontal {
    max-width: 60vw;
    margin: 40px auto 20px auto;
  }

  .photo-view-print-modal-buy-zone {
    padding-bottom: 60px;
  }
}
