html, body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
}

body {
  overflow: hidden;
  background: #fff;
  transition: background 1s;
}
  body.loaded {
    background: #000;
  }

canvas {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  cursor: url('../images/myhand.png'), auto;
  opacity: 0;
  transition: opacity 1s;
}
  canvas.loaded {
    opacity: 1;
  }

.basketball-cursor {
  cursor: url('../images/basketball.png'), crosshair;
}

::-moz-selection {
  background: #00f;
  color: #fff;
}

::selection {
  background: #00f;
  color: #fff;
}

.info {
  z-index: 2;
  position: fixed;
  top: 10px;
  right: 10px;
  transition: opacity 0.25s, color 1s;
  color: #000;
}
  .info.loaded {
    color: #fff;
  }
  .info.photo-view {
    opacity: 0;
  }

.title {
  font-family: Times New Roman, serif;
  font-size: 100px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
  transition: font-size 1s;
}
  .title.loaded {
    font-size: 20px;
  }

.title::after {
  font-size: 11px;
  content: " — ";
}

.human {
  display: inline-block;
  font-size: 10px;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-decoration: underline;
  transform-origin: 100% 0;
  transition: transform 0.1s;
}
  .human:hover {
    transform: scale(20, 20);
  }

.series-title {
  z-index: 10;
  position: fixed;
  bottom: 40px; right: 40px;
  max-width: calc(100% - 80px);
  color: #fff;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
  font-family: Times New Roman, serif;
  font-size: 64px;
  letter-spacing: 1px;
  transition: color 0.25s;
}
  .series-title.photo-view {
    color: #fff;
    font-size: 24px;
  }

.mobile-warning {
  position: fixed; top: 0; left: 0; width: 100%;
  padding: 20px;
  background: #fff; color: #000; opacity: 0.75;
  line-height: 1.5;
}

.home-view-dom-container {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  z-index: 1;
}

.home-view-hud {
  position: fixed;
  left: 20px; bottom: 20px;
  padding: 5px;
  width: calc(100% - 30px);
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  transition: background 0.5s, color 0.5s;
}
  .home-view-hud.active {
    background: #fff;
    color: #000;
  }

.home-view-hud-label {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
  transition: background 0.4s, box-shadow 0.1s;
}
  .home-view-label-collection {
    background: #f00;
  }
  .home-view-label-crazy {
    background: #00f;
  }
  .home-view-label-neat {
    background: #7800ff;
  }
  .home-view-label:hover, .home-view-label:focus {
    box-shadow: 2px 2px 0 2px #ff0;
    font-weight: bold;
  }

.home-view-collection-arrow-container {
  display: none;
}
  .home-view-collection-arrow-container.active {
    display: inline-block;
  }

.home-view-hud-arrow {
  display: inline-block;
  cursor: pointer;
  color: #000;
  background: #fff;
  padding: 5px;
  margin: 5px;
  font-size: 10px;
  line-height: 14px;
  vertical-align: middle;
  transition: background 0.4s, box-shadow 0.1s;
  user-select: none;
  -webkit-user-select: none;
}
  .home-view-hud-arrow:hover, .home-view-hud-arrow:focus {
    font-weight: bold;
    box-shadow: 2px 2px 0 2px #00f;
  }

.home-view-neat-title-container {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
}

.home-view-neat-title {
  position: absolute;
  left: 10px;
  font-size: 12px;
}

.photo-view-interface {
  z-index: 2;
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  opacity: 0;
  transition: opacity 0.25s;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
  .photo-view-interface.active {
    opacity: 1;
  }

.photo-view-close-button {
  position: fixed;
  top: 10px; left: 10px;
  cursor: url('../images/myhand.png'), pointer;
  font-size: 28px;
  color: #f00;
  text-shadow: 0px 1px 2px #00f;
  transition: color 0.25s;
}
  .photo-view-close-button::after {
    content: "✕";
  }
  .photo-view-close-button:hover {
    color: #ff0;
  }

.photo-view-control-buttons {
  position: fixed;
  top: 5px; right: 5px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 12px;
}

.photo-view-control-button {
  display: inline-block;
  margin: 4px;
  padding: 4px;
  cursor: url('../images/myhand.png'), pointer;
  background: #000;
  color: #fff;
  transition: color 0.25s;
}
  .photo-view-control-button:hover {
    color: #ff0;
  }

@media (max-width: 600px) {
  .title {

  }

  .human {

  }
}
